:root {
  --sidenav-width: 200px;
}

html {
  min-height: 100%;
  min-width: 100%;
  body {
    height: 100%;
    width: 100%;
    margin: 0;

    div#__nuxt {
      height: 100%;
      width: 100%;
    }
  }
}

@font-face {
  font-family: "Chinyen";
  font-weight: normal;
  src: url("/font/Chinyen.ttf") format("truetype");
}

.chinyen {
  font-style: normal;
  font-family: "Chinyen", cursive !important;
}

.nav-active {
  @apply bg-gray-300/50;
}

.text-shadow-lg {
  --un-text-shadow: 3px 3px 6px var(--un-text-shadow-color, rgb(0 0 0 / 0.26)), 0 0 5px var(--un-text-shadow-color, rgb(15 3 86 / 0.22));
  text-shadow: var(--un-text-shadow);
}
